.category-container{
    .icon-top{
        position: absolute;
        top:10px;
        right:10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:6px;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
        }
    }
    .header-title{
        color: var(--peacock);
    }
    .category-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: scale(0.8);
        border-radius: 24px; 
        
        padding: 0; 
        transition: 200ms;
        
        img{
            height: 225px;
            width: 225px;
        }
        &:hover{
            transform: scale(0.803);
            cursor: pointer;
        }
    }
    .title{
        color: var(--white);
        font-weight: 600;
        font-size: 24px;
    }
    .category-card-bottom{
        width: 100%;
        border-radius:0 0 24px 24px;
        padding: 6px;
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        padding-left: 12px;
        display: flex;
        justify-content:space-between;
        align-items:center;
        
    }
}