.add-category-container {

    .box-outer {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .heading {
                font-size: 18px;
                color: var(--green);
            }
        .box {
            border: 2px solid var(--peacock);
            padding: 24px;
            border-radius: 12px;
            width: 30%;

           
        
        }
    }

  

}

