.categorylist {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: scale(0.8);
        border-radius: 24px;
        cursor: pointer;
<<<<<<< HEAD
        padding: 12px 0;
=======
        padding: 12px;
>>>>>>> d22965daef126c3ad9bd44341239f5f83e774f35
    }

.title {
        color: var(--white);
        font-weight: 600;
        font-size: 24px;
}