.products-container{
    width:90%;
    float:right;
    .total-product{
        color: var(--peacock);
        font-size: 16px;
    }

    .product-list-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap:1%;
        .product-list-item{
            border-radius: 24px;
            overflow: hidden;
            width: 28%;
            background-color: rgb(214, 251, 207);
            .img-container{
                height: 200px;
                background-color: var(--white);
                img{
                     height: 100%;
                     width: 100%;
                     object-fit: contain;
                    } 
                } 
        }
        .card-body{
            .view-btn{
                background-color: rgba(0, 128, 0, 0.749);
                color: var(--white);
                border-radius:12px;
                padding: 6px 12px;
                border: 2px solid var(--yellow);
                &:hover{
                    color: var(--yellow);
                    background-color: var(--white);
                
                }
            }
        }
    }
  
}
