@import url('https://fonts.googleapis.com/css?family=Assistant');


.cell-1 {
  border-collapse: separate;
  border-spacing: 0 4em;
  background: #beffd0;
  border-bottom: 5px solid transparent;
  background-clip: padding-box;
}

thead {
  background: #dddcdc;
}

h1{
    padding-top: 20px;
    padding-left: 12%;
}